# Core
pyrogram==2.0.106
tgcrypto==1.2.5
mega.py
aiohttp

# Mega.nz (latest)
git+https://github.com/asmsafone/mega.py.git

# Utilities
moviepy
filetype
ffmpeg-python
hurry.filesize
requests
psutil
python-dotenv
